body{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: rgb(165, 72, 72);
    padding-left: 5px;
}
.section{
    background-color:blanchedalmond;
    margin:20px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.skills{
    background-color:bisque;
    padding: 20px;
    margin:20px;
}
.contact{
    background-color:antiquewhite;
    padding-left: 5px;
    margin:20px;
    padding-bottom:5px;
}
@media (max-width: 600px) {
    body {
        margin: 5px;
    }
}